.conteiner{
    width: 1900px;
    height: 1000px;
    background-color: #D3D3D3;
    margin: auto;
}
.cabecalho{
    width: 1900px;
    height: 50px;
    background-color: #3477ad; 
    margin: auto;
    text-align: center;
}
.linha1{
    width: 1000px;
    height: 250px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.texto{
    width: 550px;
    height: 150px;
    text-align: center;
}
.img1{
    width: 350px;
    height: 150px;
    border-radius: 40px;
    object-fit: cover;
}
.linha2{
    width: 1000px;
    height: 250px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.img2{
    width: 350px;
    height: 150px;
    object-fit: cover;
    border-radius: 40px;
}
.texto2{
    width: 550px;
    height: 150px;
    text-align: justify;
}
.img3{
    width: 350px;
    height: 150px;
    object-fit: cover; 
    border-radius: 40px;
}
.linha3{
    width: 1000px;
    height: 250px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.img4{
    width: 350px;
    height: 150px;
    object-fit: cover;
    border-radius: 40px;
}
